.profile__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 14px 0 0 0;
}

@media screen and (min-width: 950px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    margin-top: 16px;
  }
}